body {
    max-width: 750px;
    margin: auto;
    align-items: center;
    background-color: goldenrod;
    text-align: center;

}

.board {
    font-size: 60px;
    font-family: sans-serif;
    margin: 25px auto;
    background-color: rgb(103, 75, 34);
    padding: 8px;
    border-radius: 8px;
}

td {
    border: solid black 1px;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 10px;
    background: linear-gradient(0deg, rgb(194, 194, 194), rgb(255, 255, 255));
}

h1 {
    font-size: 100px;
    font-family: 'Lilita One', sans-serif;
    color: rgb(72, 127, 159);
}

p {
    font-family: sans-serif;
    font-size: 24px;

}

button {
    font-size: 24px;
    font-family: sans-serif;
    background-color: white;
    font-weight: 200;
    color: rgb(72, 127, 159);
}

input {
    font-size: 24px;
    border: solid black 1px;
    color: rgb(72, 127, 159);
}